.nav{
  height: 10vh;
  background-color: #2d3e51;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left:0;
  right: 0;
  top:0;
}

.nav a{
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

.nav a:hover{
  color:#f39b11;
  text-decoration: underline;
  font-weight: bold;
}


@media (max-width: 500px) {
  .nav {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }

  .nav a {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}